.admin-layout {
    display: flex;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.admin-content {
    margin-left: 260px;
    /* Width of sidebar */
    padding: 2rem;
    width: calc(100% - 260px);
    height: 100vh;
    overflow-y: auto;
}